div.chat-preview {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(221, 221, 221, 0.726);
  cursor: pointer;
}
div.chat-preview > * {
  position: relative;
}
div.chat-preview > h2 {
  right: 20px;
  top: 10px;
  margin: 0;
}

div.right-side-container > p {
  right: 20px;
  bottom: 10px;
  margin: 0;
  overflow-y: hide;
}

div.right-side-container > h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
div.right-side-container {
  margin-left: 10px;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 10px;
}
div.avatar-container {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
div.chat-preview-active {
  border-left: 5px solid blue;
}
