div.chat-list {
  width: 40%;
  background-color: white;
  margin: 5%;
  border-radius: 15px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

div.chat-list-mobile{
  width: 90%;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}