.chat{
    background-color: white;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 15px;
    max-height: 50vh;
    overflow-x: hidden;
}
div.chat-info{
    background-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}