div.project-list {
    padding-left: 5%;
    padding-right: 2%;
    border-right: 1px solid #E5E5E5;
    width: 35%;
    float: left;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    scrollbar-width: thin;
    position: relative;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 30px;
}
div.project-browser{
    width: 100%;
    height: 100%;
    position: relative;
}