#authentication-manager-popup{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(5px);
}
#authentication-manager-popup>div{
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  width: 80vw;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid gray;
}
#authentication-manager-popup>br{
  display: none;
}