.huddle-navigator {
  width: 100%;
  background-color: #2a82d499;
  height: 100px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  color: white;
}
.huddle-navigator > a {
  text-decoration: none;
  color: #000000;
  margin: 25px;
  margin-right: 10px;
  position: relative;
  color: white;
}
.huddle-navigator > .huddle-navigator-right {
  flex-grow: 1;
  text-align: right;
  margin-top: 25px;
  overflow-x: auto;
  white-space: nowrap;
}
.huddle-navigator > .huddle-navigator-right > a {
  margin: 25px;
  position: relative;
  margin-left: 0px;
}
.huddle-navigator > .huddle-navigator-right::-webkit-scrollbar {
  display: none;
}
