div.home-header {
  background-image: linear-gradient(#2a82d499,#a4c1dd99);
  height: 40vh;
  position: relative;
  color: white;
}
.home-header-mobile {
  position: relative;
  margin: auto;
  padding: 30px;
  padding-bottom: 75px;
  text-align: center;
  background-image: linear-gradient(#2a82d499,#a4c1dd99);
}

div.home-header-category-button{
  background: rgba(29, 110, 185, 0.6);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 40px;
  /* width: 100px; */
  position: relative;
  cursor: pointer;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}
div.home-header-category-button>p{
  font-size: 15px;
  margin: 0px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.home-header-category-button-activated{
  background: #0066FF;
}