img.gallery-image {
  height: 25vh;
  margin-bottom: 50px;
}
.swiper-slide{
    width:auto
}
.image-caption{
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 30;
    bottom: 0px;
}
.image-consent-banner{
  position: relative;
  padding: 20px;
  background-color: rgb(245, 245, 229);
  border-radius: 25px;
}