.huddle-input-container{
    margin: 10px;
    margin-top: 50px;
}
.huddle-input-multiline{
    border: 1px solid rgba(197, 197, 197, 0.63);
    background: white;
    border-radius: 10px;
    color: black;
    z-index: 200;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}
button.apply-button{
    font-size: 20px;
    height: 32px;
    color: white;
    background-color: rgb(60, 119, 207);
    border-radius: 10px;
    padding-left: 10px;
    padding-right:10px;
    border: 1px solid rgba(197, 197, 197, 0.63);
    cursor: pointer;
}
div.input-loading{
    height: 32px;
    color: white;
    background-color: rgb(99, 143, 209);
    border-radius: 10px;
    padding-left: 10px;
    padding-right:10px;
    border: 1px solid rgba(197, 197, 197, 0.63);
}
div.input-loading>div{
    margin-top:5px;
}
div.alert-container{
    position: fixed;
    top:10vh;
    z-index: 10;
}
div.alert-container *{
    z-index: 10;
}