div.project-editor>h1{
  text-align: center;
}
div.project-editor{

  background-color: #eaf5ff;
  height: 100%;
  margin: 0;
  padding: 20px;
}
.project-editor-component {
  margin: auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  max-width: 1000px;
}
.project-editor-component>hr{
  border: 1px solid rgb(243, 242, 242);
  margin: 10px;
}
.project-editor-component>h2{
  margin-bottom: 40px;
}
div.project-editor img {
  width: 300px;
  max-height: 400px;
  margin: auto;

}

div.image-editor{
    background-color: whitesmoke;
    width: 400px;
    height: 550px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    float:left;
    display:inline;
    flex-shrink: 0;
}
div.image-list{
    overflow-x: scroll;
    display: flex;
}