div.project-detail {
  float: right;
  overflow-y: auto;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
div.project-detail ul{
  list-style-type: auto;

}
div.close-container {
  position: absolute;
  right: 10px;
}
div.project-detail h2{
  color:rgb(61, 107, 255)
}
div.project-detail>div.project-metadata-section{
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px;
}
div.project-detail>div.project-metadata-section>div>p{
  white-space:nowrap;
  color: gray;
}
div.project-detail>div.project-metadata-section>div>div{
  font-weight: bold;
}