.update-container{
    position: relative;
    height: fit-content;
    padding: 30px;
}
.update-timestamp{
    position: absolute;
    top: 3px;
    right: 30px;
}
.update-content{
}
.update-container>hr{
    border: 1px solid grey;
}